@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

/* GLOBAL */

* {
    box-sizing: border-box;
    outline: none;
}

:root {
    --main-white: #F1F1F7;
    --secondary-white: #F0F0F5;
    --gray: #717070;
    --light-black: #2D2D2D;
    --light-blue: #0045F4;
    --deep-blue: #003ACC;
    --orange: rgb(99, 1, 277);
}


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Oswald", Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    background: var(--main-white);
    color: var(--light-black);
    scroll-behavior: smooth;
    position: relative;
}

main {
    width: 100%;
    height: 100vh;
}

h2 {
    font-size: 2rem;
    color: var(--light-blue);
}

h3 {
    font-size: 1.7rem;
}

a {
    color: var(--light-black);
    text-decoration: none;
}

a:active {
    color: var(--deep-blue);
}

.light-blue {
    color: var(--light-blue);
}

/* HEADER */

header {
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    height: 7%;
}

header h1 {
    font-size: 2rem;
    font-weight: 800;
}

/* NAVIGATION */

nav ul {
    display: flex;
}

ul > li {
    margin-left: 2em;
    font-size: 1.4em;
}

/* MAIN */

#main {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
}

/* MAIN CONTENT */
.main-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    word-wrap: nowrap;
}

.main-text > h3 {
    font-size: 2.5em;
}

.main-text > h4 {
    font-size: 2em;
}

.main-text > p {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-white);
    width: 30%;
    height: 3em;
    border-radius: .4em;
    background-color: var(--deep-blue);
    margin-bottom: 2em;
}

.primary-btn:hover {
    box-shadow: -.4rem -.4rem 1.2rem var(--gray);
    transition: box-shadow 350ms linear 0.1s;
}

.socials {
    display: flex;
    font-size: 1.5em;
    gap: 1em;
}

.socials > li {
    margin: 0;
    position: relative;
    cursor: pointer;
}

.fa-square-phone:hover {
    color: green;
}

.phone {
    display: none;
    position: absolute;
    bottom: -150%;
    left: 0%;
}

.fa-telegram:hover {
    color: #0088cc;
}

.fa-square-whatsapp:hover {
    color: #075e54;
}

.fa-envelope:hover {
    color: red;
}


.email {
    display: none;
    position: absolute;
    bottom: -150%;
    left: -100%;
}

.fa-vk:hover {
    color: var(--deep-blue);
}

/* MAIN PHOTO */

.main-photo {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.photo-wrapper {
    width: 30vw;
    height: 30vw;
    background-color: var(--light-blue);
    border-radius: 77% 23% 78% 22% / 25% 77% 23% 75%;
    overflow: hidden;
    animation: photoBorderMorph 10s linear 0s infinite alternate-reverse;

}

.photo-wrapper img {
    max-width: 100%;
}


@-webkit-keyframes photoBorderMorph {
    
    from {
        border-radius: 77% 23% 78% 22% / 25% 77% 23% 75%;
    }

    to {
        border-radius: 32% 68% 20% 80% / 70% 30% 70% 30%;
    }

}


@keyframes photoBorderMorph {
    
    from {
        border-radius: 77% 23% 78% 22% / 25% 77% 23% 75%;
    }

    to {
        border-radius: 32% 68% 20% 80% / 70% 30% 70% 30%;
    }

}

/* EDUCATION */

#education {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.education-wrapper {
    width: 100%;
    height: 90%;
    display: flex;
}

.years {
    width: 5%;
    height: 100%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    font-size: 2rem;
}

.year {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.timeline {
    margin-left: 1rem;
    width: 0.5rem;
    height: 100%;
    position: relative;
    background-color: green;
}

.timeline::before {
    content: "";
    width: 2rem;
    height: 2rem;
    top: 0em;
    left: -150%;
    position: absolute;
    background-color: green;
    transform: rotate(-45deg);
    z-index: -2;
}

.timeline::after {
    content: "";
    width: 5rem;
    height: 3rem;
    top: 1rem;
    left: -250%;
    position: absolute;
    background-color: var(--main-white);
    z-index: -1;
}


.dot-2015 {
    position: absolute;
    bottom: 10%;
    left: -50%;
    width: 1em;
    height: 0.3em;
    background-color: var(--light-black);
}

.dot-2016 {
    position: absolute;
    bottom: 20%;
    left: -50%;
    width: 1em;
    height: 0.3em;
    background-color: var(--light-black);
}

.dot-2017 {
    position: absolute;
    bottom: 30%;
    left: -50%;
    width: 1em;
    height: 0.3em;
    background-color: var(--light-black);
}

.dot-2018 {
    position: absolute;
    bottom: 40%;
    left: -50%;
    width: 1em;
    height: 0.3em;
    background-color: var(--light-black);
}

.dot-2019 {
    position: absolute;
    bottom: 50%;
    left: -50%;
    width: 1em;
    height: 0.3em;
    background-color: var(--light-black);
}

.dot-2020 {
    position: absolute;
    bottom: 60%;
    left: -50%;
    width: 1em;
    height: 0.3em;
    background-color: var(--light-black);
}

.dot-2021 {
    position: absolute;
    bottom: 70%;
    left: -50%;
    width: 1em;
    height: 0.3em;
    background-color: var(--light-black);
}

.dot-2022 {
    position: absolute;
    bottom: 80%;
    left: -50%;
    width: 1em;
    height: 0.3em;
    background-color: var(--light-black);
}

.edu-content {
    width: 100%;
    height: 100%;
    margin-left: 2%;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns:  1rem 1fr;
    row-gap: 1rem;
}

.edu-content article {
    padding: 1rem;
    position: relative;
    padding-right: 10%;
    height: 32%;
    margin-top: 0.5%;
    border-bottom: 1px solid var(--deep-blue);
}

.edu-content article:hover {
    box-shadow: 0 0 1em var(--gray);
}

.btn {
    width: 10%;
    height: 100%;
    background-color: #0045F4;
    position: absolute;
    right: 0%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-front, .btn-diploma {
    width: 10%;
    height: 100%;
    background-color: #0045F4;
    position: absolute;
    right: 0%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-square-xmark {
    font-size: 2rem;
    color: var(--main-white);
}

.fa-square-arrow-up-right {
    font-size: 2rem;
    color: var(--main-white);
}

.edu-content h2 {
    margin-bottom: 0.5rem;
}

.courses-header {
    color: var(--orange);
}

.edu-main {
    width: 100%;
    grid-row: 1 / 8;
    grid-column: 2 / 3;
    padding: 1% 1% 0;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.courses-progress {
    background-color: var(--orange);
    grid-row: 4 / 8;
    grid-column: 1 / 2;
    width: 50%;
    justify-self: end;
    z-index: 1;
    border-left: 1px solid var(--main-white);
    border-top: 1px solid var(--main-white);
}

.university-progress {
    background-color: var(--light-blue);
    grid-row: 2 / 8;
    grid-column: 1 / 2;
    position: relative;
}

.university-progress::after {
    content: "";
    position: absolute;
    width: 2rem;
    height: 0.7rem;
    bottom: 0;
    left: -100%;
    background-color: var(--light-blue);
    z-index: -1;
}

.college-progress {
    background-color: var(--light-blue);
    grid-column: 1 / 2;
    grid-row: 8 / 13;
    position: relative;
}

.college-progress::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 0.7rem;
    top: 0;
    left: -100%;
    background-color: var(--light-blue);
    z-index: -1;
}

.college-progress::after {
    content: "";
    position: absolute;
    width: 2rem;
    height: 0.7rem;
    bottom: 0;
    left: -100%;
    background-color: var(--light-blue);
    z-index: -1;
}

.edu-college {
    width: 100%;
    grid-row: 8 / 13;
    grid-column: 2 / 3;
    padding: 1%;
    border: none;
}

.edu-college article {
    height: 45%;
}


/*PROJECTS*/

section {
    width: 90%;
    height: 100%;
    padding: 5% 0 0;
    margin: 0 auto;
    border-bottom: 1px solid var(--deep-blue);
}

#projects > h2 {
    padding-bottom: 2%;
}

.projects-wrapper {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
}

.project {
    width: 24%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-white);
    border: 0.01rem solid black;
}

.project:hover {
    box-shadow: 0 0 .5rem var(--gray);
}


.project-img {
    width: 100%;
    height: 40%;
    -o-object-fit: cover;
       object-fit: cover;
}

.project-description {
    width: 100%;
    height: 40%;
    display: flex;
    padding: 0 1em;
    align-items: center;
    font-size: 1.2em;
}

.project-link {
    width: 40%;
    height: 15%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--deep-blue);
    color: var(--main-white);
    border-radius: .4em;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
        -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

.certificate-image {
    width: 50%;
}


.close-certificate {
    width: 5rem;
    height: 5rem;
    margin-top: 2%;
    align-self: flex-start;
    color: var(--main-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.close-certificate:hover {
    color: red;
}



/* MEDIA QUERY */

@media screen and (max-width: 768px) {
    
    header {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    header h1 {
        display: none;
    }

    ul {
        justify-content: space-evenly;
    }

    ul > li {
        margin: 1em;
    }

    section {
        width: 99%;
    }


    #main {
        flex-direction: column;
    }

    .main-text {
        width: 100%;
        height: 50%;
    }

    .main-photo {
        width: 60vw;
        height: 80vw;
        order: -1;
        align-items: center;
    }

    .projects-wrapper {
        display: flex;
        overflow: auto;
        gap: 1em;
    }

    .project {
        flex-shrink: 0;
        width: 99%;
        height: 80%;
    }

    .project-img {
        -o-object-fit: cover;
           object-fit: cover;
    }

}

